.container {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    background: var(--gradient-bar);
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0E0E0E;
}

.content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #0E0E0E;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.btn button {
    background: #000;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
    width: 190px;
    height: 60px;
}

@media screen and (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    .btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .container {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .btn button {
        font-size: 14px;
        line-height: 28px;
    }
}
